version: '3.8'

services:
  flaskapp:
    build: 
      context: .          # directory containing Dockerfile
    image: flask-app:latest
    container_name: flask-app
    ports:
      - "5000:5000"
    restart: always
